body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/* ----------------1st section ----------------*/
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

.margin {
  margin-bottom: -20px;
}
.orange-color {
  color: orange;
}

.container {
  display: flex;
  margin-bottom: 120px;
  padding-bottom: 50px;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.half-width img {
  width: 80%;
  border-radius: 7%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 8px 25px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}

/* -------2nd section-------- */

.half-width1 {
  padding-left: 7%;
  width: 50%;
}
.half-width1 img {
  width: 65%;
  border-radius: 10%;
}
.dream-big {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* ----------3rd section --------------*/
.experimert {
  text-align: center;
  font-weight: 500;
}
.box-shadow {
  width: 40%;
  margin-left: 5%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}
.Experiences-area {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.container2 {
  padding-bottom: 150px;
}
#border-color {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(28, 97, 189), rgb(207, 159, 25));
  border-image-slice: 1;
}
#border-color2 {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(221, 31, 31), rgb(67, 109, 110));
  border-image-slice: 1;
}

/* -------footer part-------- */
footer {
  margin-top: -100px;
  text-align: center;
}
