body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.margin {
  margin-bottom: -20px;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 70%;
  padding-left: 4%;
}
.half-width img {
  width: 70%;

  border-radius: 7%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 8px 25px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  display: flex;
}
.half-width1 {
  width: 70%;
  padding-right: 10px;
  padding-left: 5px;
}
.half-width1 img {
  width: 50%;
  padding-left: 55px;
  border-radius: 10%;
}

.dream-big {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
